form.employee-form{
	
	color:#3375D6;
	margin: 5% 5% 5% 5%;
	padding: 5% 5% 5% 5%;
	width: 90%;
	background-color:transparent;
	border-color:#BBBBBB;
	
	border-bottom-style:double;
	border-bottom-width:1px;
	
	border-top-style:double;
	border-top-width:1px;
}

form.employee-form legend{
	color: #5C00B8;
}

form.employee-form .form-group,
form.employee-form input,
table.employee-table input,
form.employee-form button,
form.employee-form a{
	width:100%;
	margin-bottom:5%;
}

/*-------------button color-------------*/
form.employee-form .btn-default{
	color:#3375D6; !important;
}

form.employee-form .glyphicon{
	color:#3375D6;
}

table.employee-table{
	width: 100%;
}